---
title: extensible proof-of-stake network
titleOnlyInHead: 1
---

<img src="/images/logo.png" height="160" alt="logo" style="float: right; margin: 10px;">

<p>Blacknet is extensible proof-of-stake network.</p>
<p>It's in development.</p>
<p>No premine. No ICO. No foundation.</p>

<h3>Implementened features</h3>
<ul>
    <li>Accounts-based, Blacknet proof of stake version 4</li>
    <li>Pooled cold staking</li>
</ul>

<h3>Planned features</h3>
<ul>
    <li>Encrypted payment ID</li>
    <li>Multi-signature contract</li>
    <li>Atomic Swaps</li>
    <li>Permissionless extensions</li>
</ul>

<h3>Posts</h3>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/archive.html">archives</a>.</p>
